html, body {
    margin: -20px 0 0 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

/* SHARED CLASSES */

.blackBg {
    background: black;
    color: white;
}

.blackBg a {
    color: rgb(255, 255, 255);
}

h1, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: rgb(0, 0, 0);
}

.pad {
    padding: 0 10rem;
    overflow-x: hidden;
}

button {
    background: transparent;
    font-size: 0.9rem;
    border: 1px solid black;
    padding: 0.7em;
}

button:hover {
    box-shadow: -3px 3px black;
}

.small {
    font-size: 0.7em;
}

/* TOP BAR */

.top-bar h1 {
    background-image: url('./img/squares.svg');
    padding: 5rem 0 3rem 10rem;
    font-size: 3.5rem;
    color: rgb(62, 61, 61);
    margin: 0;
}

/* NAVBAR */
nav {
    position: sticky;
    top: 0;
}

nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .desktop a, nav .mobile a, nav .burger {
    padding: 0.7em 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    opacity: 0.6;
}

.mobile {
    display: none;
}

.burger {
    display: none;
}


/* BOXES */

.box-grid {
    border: 1px solid;
    box-shadow: -3px 3px black;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    padding: 1em;
    margin-bottom: 2em;
    align-items: baseline;
    box-sizing: border-box;
}

.box-grid strong {
    font-size: 0.8em;
}

.box-grid button {
    width: 100%;
}

/* FOOTER */
footer {
    font-size: 0.8rem;
}

footer > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 3em 0;
}

footer > p {
    padding-bottom: 3em;
}

/* media queries */
@media screen and (max-width: 1000px) {
    .box-grid {
        display: block;
    }

    nav > div > a {
        display: block;
    }

    .burger {
        display: block;
        width: 100vw;
    }

    nav:hover .mobile {
        display: block;
    }

    nav .desktop {
        display: none;
    }

    .pad {
        padding: 0 2em;
    }

    .top-bar h1 {
        padding: 5rem 0 2rem 1rem;
        font-size: 2rem;
    }

    footer > div {
        display: block;
    }
}