html, body {
    margin: -20px 0 0 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

/* SHARED CLASSES */

.blackBg {
    background: black;
    color: white;
}

.blackBg a {
    color: rgb(255, 255, 255);
}

h1, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: rgb(0, 0, 0);
}

.pad {
    padding: 0 10rem;
    overflow-x: hidden;
}

.full {
    grid-column: 1 / -1;
}

.right {
    grid-column: 2 / -1;
}

button {
    background: transparent;
    font-size: 0.9rem;
    border: 1px solid black;
    padding: 0.7em;
}

button:hover {
    box-shadow: -3px 3px black;
}

.small {
    font-size: 0.7em;
}

input {
    font-size: 0.9em;
    padding: 0.7em;
    margin: 0.5em 0;
}


/* TOP BAR */

.top-bar h1 {
    background-image: url('./img/squares.svg');
    padding: 5rem 0 3rem 10rem;
    font-size: 3.5rem;
    color: rgb(62, 61, 61);
    margin: 0;
}

/* NAVBAR */
nav {
    position: sticky;
    top: 0;
}

nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .desktop a, nav .mobile a, nav .burger {
    padding: 0.7em 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    opacity: 0.6;
}

.mobile {
    display: none;
}

.burger {
    display: none;
}



/* FIRST SECTION */
.cta {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 1em;
    margin: 5em 0;
}

.cta img {
    width: 100%;
}

/* CURRICULUM (2ND ROW) */
.curriculum-input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    align-items: baseline;
}

/* STUDENTS STORIES (5TH ROW) */
.students-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    align-items: baseline;
}

.students-container  div > h3 {
    font-weight: 200;
    font-size: 0.9rem;
}

/* ACCESS (10th row) */
.box-grid {
    border: 1px solid;
    box-shadow: -3px 3px black;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    padding: 1em;
    margin-bottom: 2em;
    align-items: baseline;
    box-sizing: border-box;
}

.box-grid button {
    width: 100%;
}

/* HIRING PARTNERS (12th row) */
.logo img {
    width: 10%;
}

/* INQUIRY (14TH ROW) */
.right {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.flex-box, .flex-box2 {
    display: flex;
}

.flex-box2 > input{
    width: 1em;
    margin-left: 1em;
}

.flex-box input {
    width: calc(90%/2);
}

.flex-box > input:first-child {
    margin-right: 1em;
}



/* FOOTER */
footer {
    font-size: 0.8rem;
}

footer > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 3em 0;
}

footer > p {
    padding-bottom: 3em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    .top-bar h1 {
        padding: 5rem 0 2rem 1rem;
        font-size: 2rem;
    }

    nav > div > a {
        display: block;
    }

    .burger {
        display: block;
        width: 100vw;
    }

    nav:hover .mobile {
        display: block;
    }

    nav .desktop {
        display: none;
    }

    .box-grid {
        display: block;
    }

    .cta {
        display: block;
        margin: 1em 0 0 0;
    }

    .curriculum-input {
        display: block;
    }

    .pad {
        padding: 0 2em;
    }

    .main-title {
        font-size: 1.5rem;
    }

    .students-container {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    footer > div {
        display: block;
    }
}

