html, body {
    margin: -20px 0 0 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

/* SHARED CLASSES */
.blackBg {
    background: black;
    color: white;
}

.blackBg a {
    color: rgb(255, 255, 255);
}

h1, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: rgb(0, 0, 0);
}

.pad {
    padding: 0 10rem;
    overflow-x: hidden;
}

.section-title {
    padding: 1.5rem 0;
}

/* TOPBAR */

.top-bar {
    background-image: url('./img/squares.svg');
    height: 25vh;
}

.top-bar h1 {
    padding: 5rem 0 0 10rem;
    font-size: 3.5rem;
    color: rgb(62, 61, 61);
}

/* NAVBAR */
nav {
    position: sticky;
    top: 0;
}

nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .desktop a, nav .mobile a, nav .burger {
    padding: 0.7em 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    opacity: 0.6;
}

.mobile {
    display: none;
}

.burger {
    display: none;
}



/* FIRST SECTION */
.cta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cta > article {
    padding: 4rem 0;
}

.cta :first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
} 

.small {
    font-size: 0.8rem;
    display: flex;
    width: 60%;
    justify-content: space-between;
    flex-wrap: wrap;
}


button {
    background: transparent;
    font-size: 0.9rem;
    border: 1px solid black;
    width: 60%;
    padding: 1em;
    box-shadow: -3px 3px black;
}

iframe {
    box-shadow: -5px 5px black;
}

/* SECOND SECTION */
.direction-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    padding-bottom: 3rem;
} 

.direction > h1 {
    padding-top: 3rem;
}


/* THIRD SECTION */

.choice {
    margin-bottom: 5rem;
}

.choice > div {
    border: 1px solid;
    box-shadow: -3px 3px black;
    padding: 1rem 0 2rem 1rem;
    margin-bottom: 1.5rem;
}

.choice article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.choice-rows h1 {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);
    width: 95%;
    margin: 0 0 2rem 0;
}

/* FOURTH SECTION */
.different-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding-bottom: 3rem;
}

.different > h1 {
    padding-top: 4rem;
}

/* FIFTH SECTION */
.partners > div {
    padding: 4rem 0;
}


/* FOOTER */
footer {
    font-size: 0.8rem;
}

footer > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 3em 0;
}

footer > p {
    padding-bottom: 3em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
    iframe {
        width: 400px;
    }
}

@media screen and (max-width: 870px) {
    .pad {
        padding: 0 2rem;
    }
    .cta, .direction-container, .different-container, .choice article, footer > div{
        display: block;
    }

    .cta > article {
        padding: 2rem 0;
    }

    iframe {
        width: 80vw;
    }

    nav > div > a {
        display: block;
    }

    .burger {
        display: block;
        width: 100vw;
    }

    nav:hover .mobile {
        display: block;
    }

    nav .desktop {
        display: none;
    }

    .top-bar h1 {
        font-size: 1.5em;
        padding: 3em 0 1.5em 2em;
    }

    .partners > div img{
        width: 20%;
    }

    .partners > div {
        padding: 1em 0;
    }
}

@media screen and (max-width: 500px) {
    .choice article {
        padding: 0 1em;
    }

    iframe {
        width: 100%;
    }

    button {
        width: 90%;
    }
}









